# Sample init.rc file

on boot
    # Mount filesystems
    mount ext4 /dev/block/mmcblk0p2 /system ro
    mount ext4 /dev/block/mmcblk0p3 /data nosuid nodev noatime nodiratime

    # Create directories
    mkdir /data/media/PlexMedia 0775 media_rw media_rw
    mkdir /data/local/tmp 0771 system system

    # Set permissions
    chmod 0777 /data/local/tmp

    # Start services
    start adbd
    start healthd
    start vold

    # Set environment variables
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin

    # Set properties
    setprop ro.secure 1
    setprop ro.debuggable 0

service adbd /sbin/adbd
    disabled
    seclabel u:r:adbd:s0

service healthd /sbin/healthd
    class core

service vold /sbin/vold
    class core
