[Unit]
Description=First boot setup (install AUR packages, Flatpaks)
After=network.target lightdm.service
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/firstboot-setup.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
