# Config file for SYSLINUX - BIOS boot menu for Arch Linux Live ISO
# Path on ISO: /syslinux/syslinux.cfg

# UI configuration
UI menu.c32
PROMPT 0
TIMEOUT 50
DEFAULT arch64

MENU TITLE Custom Arch Linux (BIOS Boot)
MENU COLOR border       30;44   #40ffffff #a0000000 std
MENU COLOR title        1;36;44 #9033ccff #a0000000 std
MENU COLOR sel          7;37;40 #e0ffffff #20ffffff all
MENU COLOR unsel        37;44   #50ffffff #a0000000 std
MENU COLOR help         37;40   #c0ffffff #a0000000 std
MENU COLOR timeout_msg  37;40   #80ffffff #00000000 std
MENU COLOR timeout      1;37;40 #c0ffffff #00000000 std
MENU COLOR msg07        37;40   #90ffffff #a0000000 std
MENU COLOR tabmsg       31;40   #30ffffff #00000000 std

# Boot entries
LABEL arch64
    MENU LABEL Boot Custom Arch Linux (x86_64)
    LINUX ../arch/boot/x86_64/vmlinuz-linux
    APPEND archisobasedir=arch archisolabel=%ARCHISO_LABEL% initrd=../arch/boot/x86_64/initramfs-linux.img
    INITRD ../arch/boot/x86_64/initramfs-linux.img

LABEL arch64-nomodeset
    MENU LABEL Boot Custom Arch Linux (x86_64) with nomodeset
    LINUX ../arch/boot/x86_64/vmlinuz-linux
    APPEND archisobasedir=arch archisolabel=%ARCHISO_LABEL% nomodeset initrd=../arch/boot/x86_64/initramfs-linux.img
    INITRD ../arch/boot/x86_64/initramfs-linux.img

LABEL arch64-copytoram
    MENU LABEL Boot Custom Arch Linux (x86_64) (Copy to RAM)
    LINUX ../arch/boot/x86_64/vmlinuz-linux
    APPEND archisobasedir=arch archisolabel=%ARCHISO_LABEL% copytoram initrd=../arch/boot/x86_64/initramfs-linux.img
    INITRD ../arch/boot/x86_64/initramfs-linux.img

LABEL memtest
    MENU LABEL Run Memtest86+ (RAM test)
    LINUX ../arch/boot/memtest86+/memtest.bin

LABEL hdt
    MENU LABEL Hardware Detection Tool (HDT)
    COM32 hdt.c32
    APPEND modules_alias=../arch/boot/hdt/modules.alias pciids=../arch/boot/hdt/pci.ids

LABEL reboot
    MENU LABEL Reboot
    COM32 reboot.c32

LABEL poweroff
    MENU LABEL Power Off
    COM32 poweroff.c32
